@import '~@shopify/polaris-tokens/dist/colors';

body {
  background: white;
}

.IconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: 10rem;
  gap: 1rem;
}

.iconHeading {
  padding-bottom: 20px;
}
