.moreActions {
  display: flex;
  flex: 0 0 27rem;
  justify-content: flex-end;
  margin-right: 1.6rem;
}

// This is naughty and fragile but we're unable to customize this using theming
:global {
  .Polaris-TopBar-SearchField__Input {
    ~ .Polaris-TopBar-SearchField__Backdrop {
      //background-color: #ffff00;
      border: 1px solid #dfe3e8;
      min-width: 30rem;
    }
  }

  .Polaris-TopBar-SearchField__Input--focused
    .Polaris-TopBar-SearchField__Input,
  .Polaris-TopBar-SearchField__Input:focus {
    color: #637381;

    ~ .Polaris-TopBar-SearchField__Backdrop {
      border: solid 2px #5c6ac4;
    }
  }

  .Polaris-TopBar__LogoContainer {
    display: flex;
    flex: 0 0 31.2rem;
  }
}
