// stylelint-disable selector-class-pattern
@import '~@shopify/polaris-tokens/dist/colors';

// Fix for search field colapsing with too few margins at small sizes
// As of polaris 3.10.0 this padding is only applied at 490px wide
.Polaris-TopBar__SearchField {
  padding: 0 2rem;
}

// This is naughty and fragile but we're unable to customize this using theming
.Polaris-TopBar-SearchField__Input {
  ~ .Polaris-TopBar-SearchField__Backdrop {
    border: 1px solid $color-sky;
  }
}

.Polaris-TopBar-SearchField__Input--focused .Polaris-TopBar-SearchField__Input,
.Polaris-TopBar-SearchField__Input:focus {
  color: $color-ink-lighter;

  // stylelint-disable-next-lineselector-max-class, selector-max-combinators
  ~ .Polaris-TopBar-SearchField__Backdrop {
    border: solid 2px $color-indigo;
  }
}
