{
  "extends": [
    "plugin:shopify/typescript",
    "plugin:shopify/react",
    "plugin:shopify/jest",
    "plugin:shopify/node",
    "plugin:shopify/prettier"
  ],
  "rules": {
    "no-console": "off"
  },
  "overrides": [
    {
      "files": ["**/rollup.config.js", "**/tests/*.js", "**/scripts/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "node/no-extraneous-require": "off"
      }
    }
  ]
}
