# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# IntelliJ IDE ignore
.idea

.DS_Store

# Rollup cache
.rpt2_cache

# Built index files
index.js

# Generated metadata
metadata.json

# TypeScript type definitions
packages/**/types/
