# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# IntelliJ IDE ignore
.idea

.DS_Store

# Build caches
build
packages/app-icon-explorer/.cache
packages/app-icon-explorer/public

# Built index files
/packages/polaris-icons/index.*
/packages/polaris-icons-internal/index.*

# Generated metadata
metadata.json

# TypeScript type definitions
packages/**/types/
