# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# IntelliJ IDE ignore
.idea

.DS_Store

# Build caches
build
packages/app-icon-explorer/.cache
packages/app-icon-explorer/public

# Built index files
/packages/polaris-icons/index.*
/packages/polaris-icons-internal/index.*

# Generated metadata
metadata.json

# Bundler stuff
/packages-ruby/polaris_icons/.bundle/
/packages-ruby/polaris_icons/.yardoc
/packages-ruby/polaris_icons/_yardoc/
/packages-ruby/polaris_icons/coverage/
/packages-ruby/polaris_icons/doc/
/packages-ruby/polaris_icons/pkg/
/packages-ruby/polaris_icons/spec/reports/
/packages-ruby/polaris_icons/tmp/
/packages-ruby/polaris_icons/images/
