@import '~@shopify/polaris-tokens/dist/colors';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  text-align: center;

  // stylelint-disable-next-line selector-max-combinators
  > * + * {
    margin-top: 1.6rem;
  }
}

.content svg {
  height: 41px;
  width: 41px;
  fill: $color-ink-lightest;
  margin-bottom: 0.4rem;
}

.content p {
  margin-top: 0.8rem;
  text-align: center;
  color: $color-ink-lighter;
}
