@import '~@shopify/polaris-tokens/dist/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 106px);
}

.content {
  padding-bottom: 1.6rem;
  text-align: center;
}

.content svg {
  height: 41px;
  width: 41px;
  fill: #919eab;
  margin-bottom: 1.6rem;
}

.content p {
  margin-top: 0.8rem;
  text-align: center;
  color: $color-ink-lighter;
}

.content img {
  margin-bottom: 2rem;
}

.buttons {
  justify-content: center;
  display: flex;
}
