@import '~@shopify/polaris-tokens/dist/colors';
@import '~@shopify/polaris-tokens/dist/spacing';
@import '~@shopify/polaris-tokens/dist/typography';
@import '../../../styles/shared';

.headingWrapper {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}

.copyButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.3rem;
  color: $color-ink-lighter;

  @include when-typography-condensed {
    font-size: 1.2rem;
  }
}

.code {
  font-family: $font-stack-monospace;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: $color-sky-lighter;
  margin: $spacing-tight 0 $spacing-extra-tight;
  padding: $spacing-base;
  white-space: pre-wrap;
  word-break: break-all;

  @include when-typography-condensed {
    font-size: 1.2rem;
    padding: $spacing-base-tight;
  }
}

.syntaxImport {
  color: $color-orange-dark;
}

.syntaxImportItems {
  color: $color-yellow-dark;
}

.syntaxTag {
  color: $color-teal-dark;
}

.syntaxAttribute {
  color: $color-red-dark;
}
