@import '~@shopify/polaris-tokens/dist/spacing';
@import '~@shopify/polaris-tokens/dist/typography';
@import '~@shopify/polaris-tokens/dist/colors';

.codeHighlight {
  font-family: unquote($font-stack-monospace);
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: $color-sky-lighter;
  margin: 0 (-$spacing-base-tight);
  padding: $spacing-base-tight;
  white-space: pre-wrap;
  cursor: pointer;
  outline: none;
}

.codeHighlight .syntaxIconTag {
  color: $color-teal-dark;
}

.codeHighlight .syntaxIconSource {
  color: $color-red-dark;
}

.codeHighlight .syntaxIconName {
  color: $color-orange-dark;
}

.codeHighlight .syntaxIconComponent {
  color: $color-yellow-dark;
}
