@import '~@shopify/polaris-tokens/dist/colors';

.IconGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  text-align: center;
  color: $color-ink-lighter;
  text-decoration: none;
}

.active {
  box-shadow: 0 0 0 2px $color-indigo;
  outline: none;
}

.iconLabel {
  min-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
}

.iconSvgWrapper {
  padding-top: 24px;
  padding-bottom: 16px;
}
