@import '~@shopify/polaris-tokens/dist/colors';
@import '~@shopify/polaris-tokens/dist/spacing';
@import '../../styles/shared';

.iconDetailsPanelInner {
  padding-bottom: $spacing-extra-loose;

  // stylelint-disable-next-line selector-max-combinators
  > * + * {
    margin-top: $spacing-loose;
  }

  > .spacingBase {
    margin-top: $spacing-base;
  }

  > .spacingTight {
    margin-top: $spacing-tight;
  }
}

.empty {
  display: flex;
  width: 100%;
  height: calc(100% - 56px);
  justify-content: space-between;
  align-items: center;

  > * {
    flex: 1 0 auto;
    text-align: center;
  }
}

.icon {
  --icon-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 88px;
  background-color: $color-sky-lighter;

  > img {
    box-sizing: content-box;
    flex: 1 0 auto;
    padding: 0 calc(50% - (var(--icon-size, 20px) / 2));
    height: var(--icon-size, 20px);
    width: var(--icon-size, 20px);
  }
}

.keywords {
  h3 {
    margin-bottom: 4px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 4px 4px 0 0;
    display: inline-flex;
    align-items: center;
    background-color: $color-sky;
    border-radius: 3px;
  }

  a {
    padding: 0.4rem 0.8rem;
    color: $color-ink;
    text-decoration: none;
  }
}

.usage span {
  color: $color-ink-lighter;
}

.link {
  display: block;
  margin-bottom: $spacing-tight;
}

@include when-details-panel {
  .iconDescription {
    min-height: 4rem;
  }
}
