.empty {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  > * {
    flex: 1 0 auto;
    text-align: center;
  }
}

.iconDetailsPanel {
  display: flex;
  flex-direction: column;
  // The justification of this changes based on if we're in the fixed-panel layout
  // or not. Reading this value from a custom property that gets set when the
  // fixed layout kicks in is very eyebrow-raising, but it helps keep
  // "things that change based on media queries" together in the base module.
  // justify-content: var(--details-panel-justification, normal);
}

.icon {
  display: inline-block;
  margin: 0;
}

.createdBy,
.keywords {
  padding: 0;
  list-style-type: none;
}

ul.createdBy {
  margin-top: 0;
}

ul.keywords li {
  margin: 4px 4px 0 0;
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  min-height: 2.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0;
  background-color: #dfe3e8;
  border-radius: 3px;
  color: #212b36;
}

@import '~@shopify/polaris-tokens/dist/typography';

.CodeExample {
  font-family: unquote($font-stack-monospace);
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: #f9fafb;
  padding: 2rem;
  margin-bottom: 0.4rem;
  white-space: pre-wrap;
}

.download {
  cursor: pointer;
}

.download span {
  color: #637381;
}

.download a {
  text-decoration: none;
  color: #007ace;
}

h3 {
  padding-bottom: 0.4rem;
}

.spacingBase {
  margin-bottom: 2rem;
}

.spacingLoose {
  margin-bottom: 2.4rem;
}

.spacingTight {
  margin-bottom: 0.8rem;
}

.spacingExtraTight {
  padding-bottom: 0.4rem;
}

.iconActions {
  border-top: 1px solid #e5e6ea;
  display: block;
  padding: 2rem 0;
}

.CodeExample .syntaxIconTag {
  color: #00848e;
}

.CodeExample .syntaxIconSource {
  color: #bf0711;
}

.CodeExample .syntaxIconName {
  color: #c05717;
}

.CodeExample span:focus {
  text-decoration: none;
  outline: none;
}

.iconDescription {
  min-height: 4rem;
}

.link {
  display: block;
  text-decoration: none;
  color: #007ace;
  padding-bottom: 0.8rem;
}
